.admission-info-container {
  transition: all 0.5s ease;
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.3s; 
  animation-iteration-count: 1;
  animation-direction: normal; 
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); 
  animation-fill-mode: both; 
  animation-delay: 0.3s;
}
  
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.admission-info-button {
  border-style: dashed;
  padding: 1rem;
  border-radius: 5px;
  background: transparent;
  border: 1px solid var(--primary);
  margin: 3px;
  color: black;
}

.admission-info-button:hover {
  background-color: #14286e0d;
  box-shadow: inset 0 0 2px var(--primary);
}

input.admission-info-button{
  width: 150%;
}

.view-value > select {
  background-color: white;
}

.view-value > select:hover {
  background-color: white;
}

.react-chatbot{
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-color {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 10px 10px 10px 0;
  padding: 1rem;
  display: flex;
  margin-right: 40px;
}

.react-chatbot-bot-avatar-container {
  margin-right: 10px;
  background-color: var(--user);
}

.ant-avatar.ant-avatar-icon{
  background-color: var(--user);
}

.right-align {
  justify-content: flex-end;
  align-items: flex-end;
  transform-origin: right;
  padding-left: 50px;
}

.left-aligin {
  justify-content: flex-start;
  align-items: flex-start;
  transform-origin: left;
  padding-right: 50px;
}
  
.user-color {
  background-color: var(--user);
  color: var(--white)!important;
  border-radius: 10px 10px 0 10px;
  padding: 1rem;
  margin-left: 40px;
}


.react-chatbot-user-avatar-icon {
  fill: var(--white);
  width: 15px;
  height: 15px;
}
.react-chatbot-user-avatar-container {
  margin-left: 10px;
  background-color: var(--primary);
}
  
.animation {
  padding: 0 1em 0 1em;
  display: flex;
  transition: all 0.5s ease;
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.3s; 
  animation-iteration-count: 1;
  animation-direction: normal; 
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); 
  animation-fill-mode: both; 
  animation-delay: 0.3s;
}
  
@keyframes showIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
