.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin: auto;
  bottom: 10%;
  width: 500px;
  max-height: 630px;
}

.hide-questions-help {
  border: 1px solid var(--primary);
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: larger;
  box-shadow: 0 0 20px #14286e7d;
}

.arrow{
  position: absolute;
  right: 0;
  margin-right: 25px;
  bottom: -5px;
}

.arrow span{
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -0.4s;
}

.arrow span:nth-child(3){
  animation-delay: -0.8s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(0px,0px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(15px,15px);
  }
}

button.navbar-icon {
  position: absolute;
  background: var(--primary);
  color: var(--white);
  border: var(--primary);
  right: 5%;
  cursor: pointer;
  margin-left: 1px;
}

.hidden-button {
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 0;
  margin: 5px;
}

.click-chat {
  background-color: transparent;
  border-radius: 100%;
  background-color: var(--primary);
  color: var(--white);
  font-size: x-large;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.click-chat > svg.MuiSvgIcon-root {
  font-size: 1.5em;
  position: absolute;
  margin: 5px; 
  right: auto;
  left: auto;
  top: auto;
  bottom: auto;
  transform: translate(-22.5px, 8px);
}
 
/*animacja kropek*/
.dots-cont {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(5px);
}
  
.dot {
  width: 4px;
  height: 4px;
  background: var(--white);
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  margin: 0px 2px;
}
  
.dots-cont:hover > .dot {
  position: relative;
  bottom: 0px;
  animation-name: changeColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
  
.dots-cont .dot-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
  
.dots-cont .dot-2 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
  
.dots-cont .dot-3 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

@keyframes changeColor {
  0% {background-color: var(--white);}
  25% {background-color: var(--primary);}
  50% {background-color: var(--white);}
  75% {background-color: var(--primary);}
  100% {background-color: var(--white);}
}

@media screen and (max-width: 520px) {
  .container{
    width: 100%;
    padding: 0!important;
    position: relative;
    max-height: 100vh;
  }
    
  .mobile-chat{
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (max-width: 520px) {
  .show{
    position: fixed;
    bottom: 70px;
    right: 6px;  
  }
  div#qestions {
    bottom: 100px;
  }
}