.content-body {
  height: calc(100vh - calc(100vh / 2));
  overflow: auto;
  width: 100%;
}
  
.write-text {
  border:0.5px solid var(--gray);
  background-color: var(--white);
  box-shadow: inset 0 0 5px rgb(224, 224, 224);
}
  
.click-send button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1em;
  position: absolute;
  right: 0;
  background-color: transparent;
  color: var(--primary);
  margin-right: 1rem;
  transform: translateY(-150%);
  cursor: pointer;
  margin-top: 13px;
}

.form {
  border: 1px solid #14286e0d;
  background-color: #14286e0d;
  -webkit-box-shadow: 5px 5px 5px #0000001f;
}

@media screen and (max-width: 520px) {
  .click-send button {
    margin-top: 8px!important;
  }

  .content-body {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 136px);
  }
}

@media screen and (min-height: 1050px) {
  .content-body {
    height: calc(90vh - calc(100vh / 2));
  }
}
  
@media screen and (min-height: 1380px) {
  .content-body {
    height: calc(83vh - calc(100vh / 2));
  }
}

svg.MuiSvgIcon-root {
    font-size: 1.5em;
}
